doctype html
html
	head
		title Yakking Yak
		base(href=".")

		link(rel="icon" href="yakking_yak.png")
		link(href="lib/switch.css" rel="stylesheet")
		script(src="https://unpkg.com/webnative@latest/dist/index.umd.min.js")
		//- script(src="lib/webnative.js" ) 

		link(href="bin/style.css" rel="stylesheet")
		script. 
			var rust_crate = import("./bin/yakking_yak.js");
			console.log(rust_crate);
		script(src="bin/main.js")
	body
		hl Yaking Yak
		hr
		p Its pretty cool. You should launch the client using the "cargo run" command
